* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgba(29, 28, 28, 0.797);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}
